{% extends 'layout.html' %}

<div class="container">

    {% block body %}
    <h1 class="mt-3 mb-3">Room Schedule</h1>

    {% from "includes/_formhelpers.html" import render_field %}

    <form class="" action="" method="POST">

            <div class="col-sm-3">

            <div class="form-group">
                {{render_field(form.room, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.time, class_="form-control")}}
            </div>

            <div class="form-group">
                {{render_field(form.day, class_="selectpicker form-control")}}
            </div>

                <p><input type="submit" class="btn btn-primary mt-2 mb-2" value="Find"></p>
        </div>


            <div class="test">


                <table class="table">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%if time!="no time"%}
                            {% for course in courses %}
                                {% if course.start_time <= time and course.end_time >= time %}
                                    <tr bgcolor="#FB5B69">
                                        <td class="highlighted">{{course.course}}</td>
                                        <td class="highlighted">{{course.start_time}}</td>
                                        <td class="highlighted">{{course.end_time}}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>{{course.course}}</td>
                                        <td>{{course.start_time}}</td>
                                        <td>{{course.end_time}}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <!-- <ul class="list-group">
                            {% for course in courses%}
                            <li class="list-group-item"><span>{{course.start_time}} </span>{{course.course}}</li>
                            {% endfor %}
                        </ul> -->
            </div>
    </form>

    {% endblock %}


</div>
